@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.neutral.950');
    --foreground: theme('colors.neutral.50');

    /* Latar belakang gradien untuk body */
    --background-start: theme('colors.neutral.900');
    --background-end: theme('colors.neutral.950');

    /* Warna untuk kartu dan elemen UI lainnya */
    --card: theme('colors.neutral.800');
    --card-foreground: theme('colors.neutral.100');
    
    --primary: theme('colors.gold');
    --primary-foreground: theme('colors.neutral.950');
    
    --secondary: theme('colors.neutral.700');
    --secondary-foreground: theme('colors.neutral.100');
    
    --muted: theme('colors.neutral.800');
    --muted-foreground: theme('colors.neutral.400');
    
    --radius: 0.75rem;
  }
}

body {
  color: var(--foreground);
  /* Terapkan gradien di sini */
  background: var(--background-end); /* Fallback untuk browser lama */
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
  min-height: 100vh;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
